In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_excel('MNT.xlsx')
df=data.copy()

In [4]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Columns: 75 entries, Horodateur to Unnamed: 74
dtypes: float64(24), int64(5), object(46)
memory usage: 62.2+ KB

In [5]:
data.head()

,Horodateur,Score total,1.sexe,1.sexe [Score],1.sexe [Commentaires],2.wilaya,2.wilaya [Score],2.wilaya [Commentaires],2.Quel âge avez-vous ?\t\t,2.Quel âge avez-vous ?\t\t [Score],...,23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ?,23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ? [Score],23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ? [Commentaires],"24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, [Score]","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, [Commentaires]",25.si oui c'est quoi la maladies?,25.si oui c'est quoi la maladies? [Score],25.si oui c'est quoi la maladies? [Commentaires],Unnamed: 74
0,2020/10/12 10:19:31 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,37,-- / 0,...,8h,-- / 0,NaN,Assma tique,-- / 0,NaN,Asm,-- / 0,NaN,NaN
1,2020/10/12 10:25:06 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,37,-- / 0,...,9h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,Option 1
2,2020/10/12 10:28:55 PM UTC+1,0.00 / 0,femme,-- / 0,NaN,NaN,NaN,NaN,64,-- / 0,...,9,-- / 0,NaN,oui,-- / 0,NaN,Diabète,-- / 0,NaN,Option 1
3,2020/10/12 10:29:54 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,44,-- / 0,...,8h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,NaN
4,2020/10/12 10:36:22 PM UTC+1,0.00 / 0,homme,-- / 0,NaN,NaN,NaN,NaN,25,-- / 0,...,2h,-- / 0,NaN,Non,-- / 0,NaN,NaN,-- / 0,NaN,Option 1

In [6]:
#prétraitement 
missing_rate=df.isna().sum()/df.shape[0]

In [7]:
missing_rate*100

Horodateur                                                                                           0.000000
Score total                                                                                          0.000000
1.sexe                                                                                               0.000000
1.sexe [Score]                                                                                       0.000000
1.sexe [Commentaires]                                                                              100.000000
                                                                                                      ...
24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,  [Commentaires]    100.000000
25.si oui c'est quoi la maladies?                                                                   33.018868
25.si oui c'est quoi la maladies? [Score]                                                           22.641509
25.si oui c'est quoi la maladies? [Commentaires]                                                   100.000000
Unnamed: 74                                                                                         92.452830
Length: 75, dtype: float64

In [8]:
df.isna().sum()

Horodateur                                                                                           0
Score total                                                                                          0
1.sexe                                                                                               0
1.sexe [Score]                                                                                       0
1.sexe [Commentaires]                                                                              106
                                                                                                  ...
24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,  [Commentaires]    106
25.si oui c'est quoi la maladies?                                                                   35
25.si oui c'est quoi la maladies? [Score]                                                           24
25.si oui c'est quoi la maladies? [Commentaires]                                                   106
Unnamed: 74                                                                                         98
Length: 75, dtype: int64

In [9]:
df.dropna(axis=1,inplace=True)

In [10]:
df

,Horodateur,Score total,1.sexe,1.sexe [Score],2.Quel âge avez-vous ?\t\t,2.Quel âge avez-vous ?\t\t [Score],3.Quel est votre niveau d'étude \t\t\t\t,3.Quel est votre niveau d'étude \t\t\t\t [Score],4.Quelles est votre activité professionnelle \t\t\t\t,4.Quelles est votre activité professionnelle \t\t\t\t [Score],...,"19.Est-ce que votre travail implique des activités physiques d'intensité modérée, comme une marche rapide ? [Score]",20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ?,20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ? [Score],"21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ?","21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ? [Score]","22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d'affilée ?","22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d'affilée ? [Score]",23.Combien de temps avez-vous passé en position assise ou couchée lors d'une journée habituelle ? [Score],"24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension, [Score]"
0,2020/10/12 10:19:31 PM UTC+1,0.00 / 0,homme,-- / 0,37,-- / 0,universitaire,-- / 0,Employé(e) de l’Etat,-- / 0,...,-- / 0,oui,-- / 0,5,-- / 0,Non,-- / 0,-- / 0,Assma tique,-- / 0
1,2020/10/12 10:25:06 PM UTC+1,0.00 / 0,homme,-- / 0,37,-- / 0,universitaire,-- / 0,Employé(e) de l’Etat,-- / 0,...,-- / 0,oui,-- / 0,3,-- / 0,oui,-- / 0,-- / 0,Non,-- / 0
2,2020/10/12 10:28:55 PM UTC+1,0.00 / 0,femme,-- / 0,64,-- / 0,école secondaire,-- / 0,chomeur(se),-- / 0,...,-- / 0,oui,-- / 0,4,-- / 0,Non,-- / 0,-- / 0,oui,-- / 0
3,2020/10/12 10:29:54 PM UTC+1,0.00 / 0,homme,-- / 0,44,-- / 0,école secondaire,-- / 0,Employé(e) dans le privé,-- / 0,...,-- / 0,oui,-- / 0,3,-- / 0,Non,-- / 0,-- / 0,Non,-- / 0
4,2020/10/12 10:36:22 PM UTC+1,0.00 / 0,homme,-- / 0,25,-- / 0,universitaire,-- / 0,étudiant,-- / 0,...,-- / 0,Non,-- / 0,3,-- / 0,oui,-- / 0,-- / 0,Non,-- / 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2020/10/23 3:26:24 PM UTC+1,0.00 / 0,homme,-- / 0,20,-- / 0,universitaire,-- / 0,étudiant,-- / 0,...,-- / 0,oui,-- / 0,4,-- / 0,oui,-- / 0,-- / 0,Non,-- / 0
102,2020/10/23 5:41:32 PM UTC+1,0.00 / 0,homme,-- / 0,24,-- / 0,universitaire,-- / 0,étudiant,-- / 0,...,-- / 0,oui,-- / 0,1,-- / 0,oui,-- / 0,-- / 0,Non,-- / 0
103,2020/10/25 11:32:03 PM UTC+1,0.00 / 0,femme,-- / 0,20,-- / 0,universitaire,-- / 0,étudiant,-- / 0,...,-- / 0,oui,-- / 0,0,-- / 0,oui,-- / 0,-- / 0,oui,-- / 0
104,2020/10/28 1:10:02 PM UTC+1,0.00 / 0,homme,-- / 0,23,-- / 0,universitaire,-- / 0,étudiant,-- / 0,...,-- / 0,Non,-- / 0,4,-- / 0,oui,-- / 0,-- / 0,oui,-- / 0
105,2020/10/30 1:16:40 AM UTC+1,0.00 / 0,homme,-- / 0,19,-- / 0,universitaire,-- / 0,étudiant,-- / 0,...,-- / 0,oui,-- / 0,2,-- / 0,Non,-- / 0,-- / 0,oui,-- / 0

In [11]:
df.drop(columns=df.columns[(df == '-- / 0').any()],inplace=True)
df.drop(columns=df.columns[(df == '0.00 / 0').any()],inplace=True)
df

,Horodateur,1.sexe,2.Quel âge avez-vous ?\t\t,3.Quel est votre niveau d'étude \t\t\t\t,4.Quelles est votre activité professionnelle \t\t\t\t,"5.Fumez-vous actuellement des produits à base de tabac tels que cigarettes, cigares ?",9.avez-vous consommé une boisson alcoolisée?\t\t\t\t\t\t\t\t,"14.Habituellement, combien de jours par semaine consommez-vous des fruits ?","15.Habituellement, combien de jours par semaine consommez-vous des légumes ?","16.Quelle sorte de matière grasse (huile, beurre…)utilisez-vous le plus souvent pour la préparation des repas à la maison ?","17.Habituellement, combien de jours par semaine effectuez-vous des activités physiques?",18.vous inscrivez dans une salle de sport?,"19.Est-ce que votre travail implique des activités physiques d'intensité modérée, comme une marche rapide ?",20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ?,"21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ?","22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d'affilée ?","24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,"
0,2020/10/12 10:19:31 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,Non,Non,0,3,Huile végétale,5,Non,oui,oui,5,Non,Assma tique
1,2020/10/12 10:25:06 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,oui,Non,3,5,Huile végétale,3,oui,oui,oui,3,oui,Non
2,2020/10/12 10:28:55 PM UTC+1,femme,64,école secondaire,chomeur(se),Non,Non,5,5,Huile végétale,5,Non,oui,oui,4,Non,oui
3,2020/10/12 10:29:54 PM UTC+1,homme,44,école secondaire,Employé(e) dans le privé,oui,Non,3,5,Huile végétale,1,Non,Non,oui,3,Non,Non
4,2020/10/12 10:36:22 PM UTC+1,homme,25,universitaire,étudiant,Non,Non,2,4,Zit ziton,2,Non,Non,Non,3,oui,Non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2020/10/23 3:26:24 PM UTC+1,homme,20,universitaire,étudiant,oui,oui,2,3,Huile végétale,4,oui,Non,oui,4,oui,Non
102,2020/10/23 5:41:32 PM UTC+1,homme,24,universitaire,étudiant,Non,Non,4,4,Huile végétale,3,Non,Non,oui,1,oui,Non
103,2020/10/25 11:32:03 PM UTC+1,femme,20,universitaire,étudiant,Non,Non,3,5,Margarine,2,Non,Non,oui,0,oui,oui
104,2020/10/28 1:10:02 PM UTC+1,homme,23,universitaire,étudiant,Non,Non,2,5,Huile végétale,4,oui,oui,Non,4,oui,oui
105,2020/10/30 1:16:40 AM UTC+1,homme,19,universitaire,étudiant,Non,Non,3,2,Huile végétale,0,Non,Non,oui,2,Non,oui

In [12]:
df.dtypes

Horodateur                                                                                                                      object
1.sexe                                                                                                                          object
2.Quel âge avez-vous ?\t\t                                                                                                       int64
3.Quel est votre niveau d'étude \t\t\t\t                                                                                        object
4.Quelles est votre activité  professionnelle \t\t\t\t                                                                          object
5.Fumez-vous actuellement des produits à base de tabac tels que cigarettes, cigares ?                                           object
9.avez-vous consommé une boisson alcoolisée?\t\t\t\t\t\t\t\t                                                                    object
14.Habituellement, combien de jours par semaine consommez-vous des fruits ?                                                      int64
15.Habituellement, combien de jours par semaine consommez-vous des légumes ?                                                     int64
 16.Quelle sorte de matière grasse (huile, beurre…)utilisez-vous le plus souvent pour la préparation des repas à la maison ?    object
17.Habituellement, combien de jours par semaine effectuez-vous des activités physiques?                                          int64
18.vous inscrivez dans une salle de sport?                                                                                      object
19.Est-ce que votre travail implique des activités physiques d'intensité modérée, comme une marche rapide ?                     object
20.Est-ce que vous effectuez des trajets d’au moins 10 minutes à pied ou à vélo ?                                               object
21.Habituellement, combien de jours par semaine effectuez-vous des trajets d’au moins 30 minutes à pied ou à vélo ?              int64
22.Est-ce que vous pratiquez des sports, du fitness ou des activités de loisirs pendant au moins dix minutes d'affilée ?        object
24.avez vous d'autres maladies chroniques dans la famille? diabète, la tension,                                                 object
dtype: object

In [13]:
df.set_axis(['Date','Sexe','Age','Niveau etudes','activite professionelle','Fumeur',
             'alcoolique','consommation fruit par semaine','consommation de légumes par semaine',
             'matiere grasse utilsée','activité physique','salle de sport','activité physique au travail',
             'marche ou velo','marche ou velo par semaine','sport','maladie chronique'], axis=1, inplace=True)

In [14]:
df

,Date,Sexe,Age,Niveau etudes,activite professionelle,Fumeur,alcoolique,consommation fruit par semaine,consommation de légumes par semaine,matiere grasse utilsée,activité physique,salle de sport,activité physique au travail,marche ou velo,marche ou velo par semaine,sport,maladie chronique
0,2020/10/12 10:19:31 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,Non,Non,0,3,Huile végétale,5,Non,oui,oui,5,Non,Assma tique
1,2020/10/12 10:25:06 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,oui,Non,3,5,Huile végétale,3,oui,oui,oui,3,oui,Non
2,2020/10/12 10:28:55 PM UTC+1,femme,64,école secondaire,chomeur(se),Non,Non,5,5,Huile végétale,5,Non,oui,oui,4,Non,oui
3,2020/10/12 10:29:54 PM UTC+1,homme,44,école secondaire,Employé(e) dans le privé,oui,Non,3,5,Huile végétale,1,Non,Non,oui,3,Non,Non
4,2020/10/12 10:36:22 PM UTC+1,homme,25,universitaire,étudiant,Non,Non,2,4,Zit ziton,2,Non,Non,Non,3,oui,Non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2020/10/23 3:26:24 PM UTC+1,homme,20,universitaire,étudiant,oui,oui,2,3,Huile végétale,4,oui,Non,oui,4,oui,Non
102,2020/10/23 5:41:32 PM UTC+1,homme,24,universitaire,étudiant,Non,Non,4,4,Huile végétale,3,Non,Non,oui,1,oui,Non
103,2020/10/25 11:32:03 PM UTC+1,femme,20,universitaire,étudiant,Non,Non,3,5,Margarine,2,Non,Non,oui,0,oui,oui
104,2020/10/28 1:10:02 PM UTC+1,homme,23,universitaire,étudiant,Non,Non,2,5,Huile végétale,4,oui,oui,Non,4,oui,oui
105,2020/10/30 1:16:40 AM UTC+1,homme,19,universitaire,étudiant,Non,Non,3,2,Huile végétale,0,Non,Non,oui,2,Non,oui

In [15]:
tranche_age=pd.cut(df.Age,bins=[0,18,28,38,48,58,68],labels=['0-18','18-28','28-38','38-48','48-58','58-68'])
df.insert(5,'tranche_age',tranche_age)

In [16]:
df

,Date,Sexe,Age,Niveau etudes,activite professionelle,tranche_age,Fumeur,alcoolique,consommation fruit par semaine,consommation de légumes par semaine,matiere grasse utilsée,activité physique,salle de sport,activité physique au travail,marche ou velo,marche ou velo par semaine,sport,maladie chronique
0,2020/10/12 10:19:31 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,28-38,Non,Non,0,3,Huile végétale,5,Non,oui,oui,5,Non,Assma tique
1,2020/10/12 10:25:06 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,28-38,oui,Non,3,5,Huile végétale,3,oui,oui,oui,3,oui,Non
2,2020/10/12 10:28:55 PM UTC+1,femme,64,école secondaire,chomeur(se),58-68,Non,Non,5,5,Huile végétale,5,Non,oui,oui,4,Non,oui
3,2020/10/12 10:29:54 PM UTC+1,homme,44,école secondaire,Employé(e) dans le privé,38-48,oui,Non,3,5,Huile végétale,1,Non,Non,oui,3,Non,Non
4,2020/10/12 10:36:22 PM UTC+1,homme,25,universitaire,étudiant,18-28,Non,Non,2,4,Zit ziton,2,Non,Non,Non,3,oui,Non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2020/10/23 3:26:24 PM UTC+1,homme,20,universitaire,étudiant,18-28,oui,oui,2,3,Huile végétale,4,oui,Non,oui,4,oui,Non
102,2020/10/23 5:41:32 PM UTC+1,homme,24,universitaire,étudiant,18-28,Non,Non,4,4,Huile végétale,3,Non,Non,oui,1,oui,Non
103,2020/10/25 11:32:03 PM UTC+1,femme,20,universitaire,étudiant,18-28,Non,Non,3,5,Margarine,2,Non,Non,oui,0,oui,oui
104,2020/10/28 1:10:02 PM UTC+1,homme,23,universitaire,étudiant,18-28,Non,Non,2,5,Huile végétale,4,oui,oui,Non,4,oui,oui
105,2020/10/30 1:16:40 AM UTC+1,homme,19,universitaire,étudiant,18-28,Non,Non,3,2,Huile végétale,0,Non,Non,oui,2,Non,oui

In [17]:
df =df.replace({'Fumeur': {'oui': True, 'Non': False}})
df =df.replace({'alcoolique': {'oui': True, 'Non': False}})
df =df.replace({'salle de sport': {'oui': True, 'Non': False}})
df =df.replace({'activité physique au travail': {'oui': True, 'Non': False}})
df =df.replace({'marche ou velo': {'oui': True, 'Non': False}})
df =df.replace({'sport': {'oui': True, 'Non': False}})

In [18]:
df

,Date,Sexe,Age,Niveau etudes,activite professionelle,tranche_age,Fumeur,alcoolique,consommation fruit par semaine,consommation de légumes par semaine,matiere grasse utilsée,activité physique,salle de sport,activité physique au travail,marche ou velo,marche ou velo par semaine,sport,maladie chronique
0,2020/10/12 10:19:31 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,28-38,False,False,0,3,Huile végétale,5,False,True,True,5,False,Assma tique
1,2020/10/12 10:25:06 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,28-38,True,False,3,5,Huile végétale,3,True,True,True,3,True,Non
2,2020/10/12 10:28:55 PM UTC+1,femme,64,école secondaire,chomeur(se),58-68,False,False,5,5,Huile végétale,5,False,True,True,4,False,oui
3,2020/10/12 10:29:54 PM UTC+1,homme,44,école secondaire,Employé(e) dans le privé,38-48,True,False,3,5,Huile végétale,1,False,False,True,3,False,Non
4,2020/10/12 10:36:22 PM UTC+1,homme,25,universitaire,étudiant,18-28,False,False,2,4,Zit ziton,2,False,False,False,3,True,Non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2020/10/23 3:26:24 PM UTC+1,homme,20,universitaire,étudiant,18-28,True,True,2,3,Huile végétale,4,True,False,True,4,True,Non
102,2020/10/23 5:41:32 PM UTC+1,homme,24,universitaire,étudiant,18-28,False,False,4,4,Huile végétale,3,False,False,True,1,True,Non
103,2020/10/25 11:32:03 PM UTC+1,femme,20,universitaire,étudiant,18-28,False,False,3,5,Margarine,2,False,False,True,0,True,oui
104,2020/10/28 1:10:02 PM UTC+1,homme,23,universitaire,étudiant,18-28,False,False,2,5,Huile végétale,4,True,True,False,4,True,oui
105,2020/10/30 1:16:40 AM UTC+1,homme,19,universitaire,étudiant,18-28,False,False,3,2,Huile végétale,0,False,False,True,2,False,oui

In [19]:
df =df.replace({'maladie chronique': {'Assma tique ': 'oui',}})
df

,Date,Sexe,Age,Niveau etudes,activite professionelle,tranche_age,Fumeur,alcoolique,consommation fruit par semaine,consommation de légumes par semaine,matiere grasse utilsée,activité physique,salle de sport,activité physique au travail,marche ou velo,marche ou velo par semaine,sport,maladie chronique
0,2020/10/12 10:19:31 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,28-38,False,False,0,3,Huile végétale,5,False,True,True,5,False,oui
1,2020/10/12 10:25:06 PM UTC+1,homme,37,universitaire,Employé(e) de l’Etat,28-38,True,False,3,5,Huile végétale,3,True,True,True,3,True,Non
2,2020/10/12 10:28:55 PM UTC+1,femme,64,école secondaire,chomeur(se),58-68,False,False,5,5,Huile végétale,5,False,True,True,4,False,oui
3,2020/10/12 10:29:54 PM UTC+1,homme,44,école secondaire,Employé(e) dans le privé,38-48,True,False,3,5,Huile végétale,1,False,False,True,3,False,Non
4,2020/10/12 10:36:22 PM UTC+1,homme,25,universitaire,étudiant,18-28,False,False,2,4,Zit ziton,2,False,False,False,3,True,Non
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2020/10/23 3:26:24 PM UTC+1,homme,20,universitaire,étudiant,18-28,True,True,2,3,Huile végétale,4,True,False,True,4,True,Non
102,2020/10/23 5:41:32 PM UTC+1,homme,24,universitaire,étudiant,18-28,False,False,4,4,Huile végétale,3,False,False,True,1,True,Non
103,2020/10/25 11:32:03 PM UTC+1,femme,20,universitaire,étudiant,18-28,False,False,3,5,Margarine,2,False,False,True,0,True,oui
104,2020/10/28 1:10:02 PM UTC+1,homme,23,universitaire,étudiant,18-28,False,False,2,5,Huile végétale,4,True,True,False,4,True,oui
105,2020/10/30 1:16:40 AM UTC+1,homme,19,universitaire,étudiant,18-28,False,False,3,2,Huile végétale,0,False,False,True,2,False,oui

In [20]:
df =df.replace({'maladie chroniqeu': {'oui': True, 'Non': False}})

In [21]:
df['tranche_age'].value_counts(normalize=True)

18-28    0.641509
28-38    0.207547
0-18     0.094340
38-48    0.028302
48-58    0.018868
58-68    0.009434
Name: tranche_age, dtype: float64

In [22]:
new = df.filter(['Sexe','tranche_age','Fumeur','alcoolique','maladie chronique'], axis=1)

In [23]:
new

      Sexe tranche_age  Fumeur  alcoolique maladie chronique
0    homme       28-38   False       False               oui
1    homme       28-38    True       False               Non
2    femme       58-68   False       False               oui
3    homme       38-48    True       False               Non
4    homme       18-28   False       False               Non
..     ...         ...     ...         ...               ...
101  homme       18-28    True        True               Non
102  homme       18-28   False       False               Non
103  femme       18-28   False       False               oui
104  homme       18-28   False       False               oui
105  homme       18-28   False       False               oui

[106 rows x 5 columns]

In [24]:
new.to_csv("pre_processed.csv")

In [81]:
table = pd.pivot_table(data=new,index=['tranche_age'],columns=['Fumeur','alcoolique','Sexe'],
                       aggfunc={'maladie chronique':"count"})
table

            maladie chronique
Fumeur                  False                   True
alcoolique              False       True        False       True
Sexe                    femme homme femme homme femme homme femme homme
tranche_age
0-18                        7     3     0     0     0     0     0     0
18-28                      31    33     0     2     0     1     0     1
28-38                       6    10     0     3     0     2     0     1
38-48                       1     1     0     0     0     1     0     0
48-58                       1     1     0     0     0     0     0     0
58-68                       1     0     0     0     0     0     0     0

In [99]:
table

Sexe         femme  homme  femme  homme  femme  homme  femme  homme
tranche_age
0-18             7      3      0      0      0      0      0      0
18-28           31     33      0      2      0      1      0      1
28-38            6     10      0      3      0      2      0      1
38-48            1      1      0      0      0      1      0      0
48-58            1      1      0      0      0      0      0      0
58-68            1      0      0      0      0      0      0      0

In [101]:
table.set_axis(["femme non F non A", "homme non F non A", "femme non F A","homme non F A","femme F non A","homme F non A","femme F A","homme F A"], axis=1,inplace=True)
table

,femme non F non A,homme non F non A,femme non F A,homme non F A,femme F non A,homme F non A,femme F A,homme F A
tranche_age,,,,,,,,
0-18,7,3,0,0,0,0,0,0
18-28,31,33,0,2,0,1,0,1
28-38,6,10,0,3,0,2,0,1
38-48,1,1,0,0,0,1,0,0
48-58,1,1,0,0,0,0,0,0
58-68,1,0,0,0,0,0,0,0

In [102]:
table.to_csv("crossed_table.csv")

In [103]:
table

,femme non F non A,homme non F non A,femme non F A,homme non F A,femme F non A,homme F non A,femme F A,homme F A
tranche_age,,,,,,,,
0-18,7,3,0,0,0,0,0,0
18-28,31,33,0,2,0,1,0,1
28-38,6,10,0,3,0,2,0,1
38-48,1,1,0,0,0,1,0,0
48-58,1,1,0,0,0,0,0,0
58-68,1,0,0,0,0,0,0,0

In [25]:
table = pd.pivot_table(data=new,index=['tranche_age','maladie chronique'],columns=['Fumeur','alcoolique','Sexe'],
                       aggfunc={'maladie chronique':"count"})
table

                              maladie chronique                                \
Fumeur                                    False                   True
alcoolique                                False       True        False
Sexe                                      femme homme femme homme femme homme
tranche_age maladie chronique
0-18        Non                               1     1     0     0     0     0
            oui                               6     2     0     0     0     0
18-28       Non                               8    12     0     1     0     0
            oui                              23    21     0     1     0     1
28-38       Non                               0     5     0     0     0     1
            oui                               6     5     0     3     0     1
38-48       Non                               1     0     0     0     0     1
            oui                               0     1     0     0     0     0
48-58       Non                               0     0     0     0     0     0
            oui                               1     1     0     0     0     0
58-68       Non                               0     0     0     0     0     0
            oui                               1     0     0     0     0     0


Fumeur
alcoolique                    True
Sexe                          femme homme
tranche_age maladie chronique
0-18        Non                   0     0
            oui                   0     0
18-28       Non                   0     1
            oui                   0     0
28-38       Non                   0     0
            oui                   0     1
38-48       Non                   0     0
            oui                   0     0
48-58       Non                   0     0
            oui                   0     0
58-68       Non                   0     0
            oui                   0     0

In [28]:
table.columns.droplevel()
table

                              maladie chronique                                \
Fumeur                                    False                   True
alcoolique                                False       True        False
Sexe                                      femme homme femme homme femme homme
tranche_age maladie chronique
0-18        Non                               1     1     0     0     0     0
            oui                               6     2     0     0     0     0
18-28       Non                               8    12     0     1     0     0
            oui                              23    21     0     1     0     1
28-38       Non                               0     5     0     0     0     1
            oui                               6     5     0     3     0     1
38-48       Non                               1     0     0     0     0     1
            oui                               0     1     0     0     0     0
48-58       Non                               0     0     0     0     0     0
            oui                               1     1     0     0     0     0
58-68       Non                               0     0     0     0     0     0
            oui                               1     0     0     0     0     0


Fumeur
alcoolique                    True
Sexe                          femme homme
tranche_age maladie chronique
0-18        Non                   0     0
            oui                   0     0
18-28       Non                   0     1
            oui                   0     0
28-38       Non                   0     0
            oui                   0     1
38-48       Non                   0     0
            oui                   0     0
48-58       Non                   0     0
            oui                   0     0
58-68       Non                   0     0
            oui                   0     0

In [30]:
table.set_axis(["femme non F non A", "homme non F non A", "femme non F A","homme non F A","femme F non A","homme F non A","femme F A","homme F A"], axis=1,inplace=True)

In [31]:
table

                               femme non F non A  homme non F non A  \
tranche_age maladie chronique
0-18        Non                                1                  1
            oui                                6                  2
18-28       Non                                8                 12
            oui                               23                 21
28-38       Non                                0                  5
            oui                                6                  5
38-48       Non                                1                  0
            oui                                0                  1
48-58       Non                                0                  0
            oui                                1                  1
58-68       Non                                0                  0
            oui                                1                  0

                               femme non F A  homme non F A  femme F non A  \
tranche_age maladie chronique
0-18        Non                            0              0              0
            oui                            0              0              0
18-28       Non                            0              1              0
            oui                            0              1              0
28-38       Non                            0              0              0
            oui                            0              3              0
38-48       Non                            0              0              0
            oui                            0              0              0
48-58       Non                            0              0              0
            oui                            0              0              0
58-68       Non                            0              0              0
            oui                            0              0              0

                               homme F non A  femme F A  homme F A
tranche_age maladie chronique
0-18        Non                            0          0          0
            oui                            0          0          0
18-28       Non                            0          0          1
            oui                            1          0          0
28-38       Non                            1          0          0
            oui                            1          0          1
38-48       Non                            1          0          0
            oui                            0          0          0
48-58       Non                            0          0          0
            oui                            0          0          0
58-68       Non                            0          0          0
            oui                            0          0          0

In [32]:
table.set_axis(["0-18 pas de mal-chronique", "0-18 mal-chronique", "18-28 pas de mal-chronique","18-28 mal-chronique",
                "28-38 pas de mal-chronique","28-38 mal-chronique","38-48 pas de mal-chronique","38-48 mal-chronique",
                "48-58 pas de mal-chronique","48-58 mal-chronique","58-68 pas de mal-chronique","58-68 mal-chronique"], axis=0,inplace=True)

In [33]:
table

,femme non F non A,homme non F non A,femme non F A,homme non F A,femme F non A,homme F non A,femme F A,homme F A
0-18 pas de mal-chronique,1,1,0,0,0,0,0,0
0-18 mal-chronique,6,2,0,0,0,0,0,0
18-28 pas de mal-chronique,8,12,0,1,0,0,0,1
18-28 mal-chronique,23,21,0,1,0,1,0,0
28-38 pas de mal-chronique,0,5,0,0,0,1,0,0
28-38 mal-chronique,6,5,0,3,0,1,0,1
38-48 pas de mal-chronique,1,0,0,0,0,1,0,0
38-48 mal-chronique,0,1,0,0,0,0,0,0
48-58 pas de mal-chronique,0,0,0,0,0,0,0,0
48-58 mal-chronique,1,1,0,0,0,0,0,0
58-68 pas de mal-chronique,0,0,0,0,0,0,0,0
58-68 mal-chronique,1,0,0,0,0,0,0,0

In [34]:
table.to_csv("crossed_table2.csv")

In [39]:
table.rename_axis("age_maladie")

,femme non F non A,homme non F non A,femme non F A,homme non F A,femme F non A,homme F non A,femme F A,homme F A
age_maladie,,,,,,,,
0-18 pas de mal-chronique,1,1,0,0,0,0,0,0
0-18 mal-chronique,6,2,0,0,0,0,0,0
18-28 pas de mal-chronique,8,12,0,1,0,0,0,1
18-28 mal-chronique,23,21,0,1,0,1,0,0
28-38 pas de mal-chronique,0,5,0,0,0,1,0,0
28-38 mal-chronique,6,5,0,3,0,1,0,1
38-48 pas de mal-chronique,1,0,0,0,0,1,0,0
38-48 mal-chronique,0,1,0,0,0,0,0,0
48-58 pas de mal-chronique,0,0,0,0,0,0,0,0
48-58 mal-chronique,1,1,0,0,0,0,0,0
58-68 pas de mal-chronique,0,0,0,0,0,0,0,0
58-68 mal-chronique,1,0,0,0,0,0,0,0

In [40]:
table.to_csv("crossed_table3.csv")

In [48]:
table = pd.pivot_table(data=new,index=['tranche_age'],columns=['Sexe'],
                       aggfunc={'maladie chronique':"count"})
table

AttributeError: 'SeriesGroupBy' object has no attribute 'femme'

In [44]:
table.columns.droplevel()
table

            maladie chronique
Sexe                    femme homme
tranche_age
0-18                        7     3
18-28                      31    37
28-38                       6    16
38-48                       1     2
48-58                       1     1
58-68                       1     0

In [45]:
table.set_axis(["femme"], axis=1,inplace=True)

In [46]:
table

             femme  homme
tranche_age
0-18             7      3
18-28           31     37
28-38            6     16
38-48            1      2
48-58            1      1
58-68            1      0

In [51]:
table.drop( columns='homme',inplace=True)

In [52]:
table.to_csv("age_femme.csv")

In [53]:
table = pd.pivot_table(data=new,index=['tranche_age'],columns=['Sexe'],
                       aggfunc={'maladie chronique':"count"})
table

            maladie chronique
Sexe                    femme homme
tranche_age
0-18                        7     3
18-28                      31    37
28-38                       6    16
38-48                       1     2
48-58                       1     1
58-68                       1     0

In [55]:
table.set_axis(["femme","homme"], axis=1,inplace=True)

In [56]:
table

             femme  homme
tranche_age
0-18             7      3
18-28           31     37
28-38            6     16
38-48            1      2
48-58            1      1
58-68            1      0

In [59]:
table.to_csv("age_homme.csv")

In [60]:
new1 = df.filter(['Sexe','tranche_age','Fumeur','alcoolique','maladie chronique','age','salle de sport'], axis=1)

In [61]:
new1

      Sexe tranche_age  Fumeur  alcoolique maladie chronique salle de sport
0    homme       28-38   False       False               oui          False
1    homme       28-38    True       False               Non           True
2    femme       58-68   False       False               oui          False
3    homme       38-48    True       False               Non          False
4    homme       18-28   False       False               Non          False
..     ...         ...     ...         ...               ...            ...
101  homme       18-28    True        True               Non           True
102  homme       18-28   False       False               Non          False
103  femme       18-28   False       False               oui          False
104  homme       18-28   False       False               oui           True
105  homme       18-28   False       False               oui          False

[106 rows x 6 columns]

In [63]:
table1 = pd.pivot_table(data=new1,index=['tranche_age'],columns=['salle de sport'],
                       aggfunc={'salle de sport':"count"})
table1

               salle de sport                            \
salle de sport          False True Association sportif
tranche_age
0-18                        8    0                    0
18-28                      58    9                    0
28-38                      17    3                    0
38-48                       2    0                    1
48-58                       2    0                    0
58-68                       1    0                    0

                                                                                                                                   \
salle de sport D’habitude je fais un abonnement à la salle de sport chaque été Mais vu led circonstances sanitaires, j’ai arrêté
tranche_age
0-18                                                            1
18-28                                                           0
28-38                                                           0
38-48                                                           0
48-58                                                           0
58-68                                                           0

                                                                          \
salle de sport La marche 20min/jrs Natation a la maison chaque week-end
tranche_age
0-18                             0        1                            0
18-28                            0        0                            1
28-38                            1        0                            0
38-48                            0        0                            0
48-58                            0        0                            0
58-68                            0        0                            0


salle de sport jaingel
tranche_age
0-18                 0
18-28                0
28-38                1
38-48                0
48-58                0
58-68                0

In [65]:
table1.set_axis(["False","True"],axis=1,inplace=True)

ValueError: Length mismatch: Expected axis has 8 elements, new values have 2 elements

In [68]:
table1.drop( columns="Natation",inplace=True) 
tables1

KeyError: 'Natation'